# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
.env
.env.local
.env.production
.env.staging

# If you are using SQLite, you might also want to ignore the database file
*.sqlite3

# If you are using PostgreSQL, you might want to ignore pg_dump files
*.dump

# If you are using MySQL, you might want to ignore MySQL dump files
*.sql

# If you are using Docker
.dockerignore
docker-compose.yml
docker-compose.override.yml
docker-compose.prod.yml

# If you are using virtual environments
venv/
env/
ENV/

# If you are using pipenv
Pipfile
Pipfile.lock

# If you are using poetry
poetry.lock

# If you are using conda
environment.yml
conda-env.yml

# If you are using pytest
.pytest_cache/

# If you are using coverage
htmlcov/
.coverage
coverage.xml
.nox/

# If you are using black
.black_cache/

# If you are using flake8
.flake8

# If you are using isort
.isort.cfg

# If you are using mypy
.mypy_cache/
.dmypy.json
dmypy.json

# If you are using pylint
.pylintrc
.pylintrc.*
.pylintrc-*
.pylintrc_*
.pylintrc~*

# If you are using pre-commit
.pre-commit-config.yaml

# If you are using tox
.tox/
.pytest_cache/

# If you are using VS Code
.vscode/

# If you are using PyCharm
.idea/
*.iml

# If you are using Sublime Text
*.sublime-project
*.sublime-workspace

# If you are using Vim
*.swp
*.swo
*~

# If you are using Emacs
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# If you are using Atom
.atom/

# If you are using Eclipse
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.project
.pydevproject
.cproject
.metadata/
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.factorypath
.apt_generated/
.apt_generated_test/
.myeclipse/
.scala_dependencies
.cache-main/
.cache-test/
.test_statistics/
.ijwb/
.idea/
*.iws
*.ipr
*.iml
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
*.iml
